Team.Name : AndroidRoboTeam
VisualDebug : false

## DefaultTacticsAmbulanceTeam
DefaultTacticsAmbulanceTeam.HumanDetector : AndroidRoboTeam.module.complex.SEUAT.SEUHumanDetector
DefaultTacticsAmbulanceTeam.Search : AndroidRoboTeam.module.complex.SEUFB.SEUSearch
DefaultTacticsAmbulanceTeam.ExtActionTransport : AndroidRoboTeam.extaction.SEUAT.SEUExtActionTransport
DefaultTacticsAmbulanceTeam.ExtActionMove : AndroidRoboTeam.extaction.DefaultExtActionMove
DefaultTacticsAmbulanceTeam.CommandExecutorAmbulance : AndroidRoboTeam.centralized.SEUAT.DefaultCommandExecutorAmbulance
DefaultTacticsAmbulanceTeam.CommandExecutorScout : AndroidRoboTeam.centralized.SEUAT.DefaultCommandExecutorScout

## DefaultTacticsFireBrigade
DefaultTacticsFireBrigade.HumanDetector : AndroidRoboTeam.module.complex.SEUFB.SEUFBHumanDetector
DefaultTacticsFireBrigade.Search : AndroidRoboTeam.module.complex.SEUFB.SEUFBSearch
DefaultTacticsFireBrigade.ExtActionFireRescue : AndroidRoboTeam.extaction.SEUFB.SEUExtActionFireRescue
DefaultTacticsFireBrigade.ExtActionMove : AndroidRoboTeam.extaction.SEUFB.SEUFBExtActionMove
DefaultTacticsFireBrigade.CommandExecutorFire : AndroidRoboTeam.centralized.SEUFB.DefaultCommandExecutorFire
DefaultTacticsFireBrigade.CommandExecutorScout : AndroidRoboTeam.centralized.SEUFB.DefaultCommandExecutorScout

## DefaultTacticsPoliceForce
DefaultTacticsPoliceForce.RoadDetector : AndroidRoboTeam.module.complex.SEUPF.SEURoadDetector
DefaultTacticsPoliceForce.Search : AndroidRoboTeam.module.complex.SEUFB.SEUSearch
DefaultTacticsPoliceForce.ExtActionClear : AndroidRoboTeam.extaction.SEUPF.SEUExtActionClearOld
DefaultTacticsPoliceForce.ExtActionMove : AndroidRoboTeam.extaction.SEUPF.SEUPFExtActionMove
DefaultTacticsPoliceForce.CommandExecutorPolice : AndroidRoboTeam.centralized.SEUPF.DefaultCommandExecutorPolice
DefaultTacticsPoliceForce.CommandExecutorScout : AndroidRoboTeam.centralized.SEUPF.DefaultCommandExecutorScoutPolice

## DefaultTacticsAmbulanceCentre
DefaultTacticsAmbulanceCentre.TargetAllocator : sample_team.module.complex.SampleAmbulanceTargetAllocator
DefaultTacticsAmbulanceCentre.CommandPicker : adf.impl.centralized.DefaultCommandPickerAmbulance

## DefaultTacticsFireStation
DefaultTacticsFireStation.TargetAllocator : sample_team.module.complex.SampleFireTargetAllocator
DefaultTacticsFireStation.CommandPicker : adf.impl.centralized.DefaultCommandPickerFire

## DefaultTacticsPoliceOffice
; DefaultTacticsPoliceOffice.TargetAllocator : AndroidRoboTeam.module.complex.center.SEUMaxSumPoliceTargetAllocator
; DefaultTacticsPoliceOffice.CommandPicker : AndroidRoboTeam.centralized.SEUPF.DefaultCommandPickerPolice
DefaultTacticsPoliceOffice.TargetAllocator : sample_team.module.complex.SamplePoliceTargetAllocator
DefaultTacticsPoliceOffice.CommandPicker : adf.impl.centralized.DefaultCommandPickerPolice

## SampleSearch
SampleSearch.PathPlanning.Ambulance : AndroidRoboTeam.module.algorithm.SEUPathPlanning
SampleSearch.Clustering.Ambulance : AndroidRoboTeam.module.algorithm.SEUKmeansPP
SampleSearch.PathPlanning.Fire : AndroidRoboTeam.module.algorithm.SEUPathPlanning
SampleSearch.Clustering.Fire : AndroidRoboTeam.module.algorithm.SEUKmeansPP
SampleSearch.PathPlanning.Police : AndroidRoboTeam.module.algorithm.SEUPathPlanning
SampleSearch.Clustering.Police : AndroidRoboTeam.module.algorithm.SEUKmeansPP

## SampleBuildDetector
SampleBuildingDetector.Clustering :AndroidRoboTeam.module.algorithm.SEUKmeansPP

## SampleRoadDetector
SampleRoadDetector.Clustering : AndroidRoboTeam.module.algorithm.SEUKmeansPP
; SampleRoadDetector.Highways : AndroidRoboTeam.module.algorithm.SEUHighways
SampleRoadDetector.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning

RoadDetector.PathPlanning: AndroidRoboTeam.module.algorithm.SEUPathPlanning

## SampleHumanDetector
SampleHumanDetector.Clustering : AndroidRoboTeam.module.algorithm.SEUKmeansPP

## Action
## DefaultExtActionClear
DefaultExtActionClear.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning
ActionExtClear.Clustering : AndroidRoboTeam.module.algorithm.SEUKmeansPP

## DefaultExtActionFireRescue
DefaultExtActionFireRescue.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning
DefaultExtActionFireRescue.ActionExtMove : AndroidRoboTeam.extaction.SEUFB.SEUFBExtActionMove

## DefaultExtActionTransport
DefaultExtActionTransport.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning
; ActionTransport.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning
DefaultExtActionTransport.ActionExtMove : AndroidRoboTeam.extaction.DefaultExtActionMove

## DefaultExtActionMove
DefaultExtActionMove.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning

; TacticsFireBrigade.ActionFireRescue : AndroidRoboTeam.extaction.SEUFB.SEUExtActionFireRescue

## DefaultCommandExecutorAmbulance
DefaultCommandExecutorAmbulance.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning
DefaultCommandExecutorAmbulance.ExtActionTransport : AndroidRoboTeam.extaction.SEUAT.SEUExtActionTransport
DefaultCommandExecutorAmbulance.ExtActionMove : AndroidRoboTeam.extaction.DefaultExtActionMove

## DefaultCommandExecutorPolice
DefaultCommandExecutorPolice.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning
DefaultCommandExecutorPolice.ExtActionClear : AndroidRoboTeam.extaction.SEUPF.SEUExtActionClearOld
DefaultCommandExecutorPolice.ExtActionMove : AndroidRoboTeam.extaction.SEUPF.SEUPFExtActionMove

## DefaultCommandExecutorScout
DefaultCommandExecutorScout.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning

## DefaultCommandExecutorScoutPolice
DefaultCommandExecutorScoutPolice.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning
DefaultCommandExecutorScoutPolice.ExtActionClear : AndroidRoboTeam.extaction.SEUPF.SEUExtActionClearOld

## MessageManager
MessageManager.PlatoonChannelSubscriber : AndroidRoboTeam.module.comm.SEUChannelSubscriber
MessageManager.CenterChannelSubscriber : AndroidRoboTeam.module.comm.SEUChannelSubscriber
MessageManager.PlatoonMessageCoordinator : AndroidRoboTeam.module.comm.SEUMessageCoordinator
MessageManager.CenterMessageCoordinator : AndroidRoboTeam.module.comm.SEUMessageCoordinator


## Command add
CommandExecutorAmbulance.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning

CommandExecutorAmbulance.ActionTransport : AndroidRoboTeam.extaction.SEUAT.SEUExtActionTransport
CommandExecutorAmbulance.ActionExtMove : AndroidRoboTeam.extaction.DefaultExtActionMove

CommandExecutorFire.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning

CommandExecutorFire.ActionFireRescue :  AndroidRoboTeam.extaction.SEUFB.SEUExtActionFireRescue
CommandExecutorFire.ActionExtMove : AndroidRoboTeam.extaction.SEUFB.SEUFBExtActionMove

CommandExecutorPolice.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning

CommandExecutorPolice.ActionExtClear : AndroidRoboTeam.extaction.SEUPF.SEUExtActionClearOld
CommandExecutorPolice.ActionExtMove : AndroidRoboTeam.extaction.SEUPF.SEUPFExtActionMove

CommandExecutorScout.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning

CommandExecutorScoutPolice.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning
CommandExecutorScoutPolice.ActionExtClear : AndroidRoboTeam.extaction.SEUPF.SEUExtActionClearOld

# WorldService
WorldService.Default : AndroidRoboTeam.world.SEUWorldService
WorldService.FireBrigade : AndroidRoboTeam.world.SEUFBWorldService

# GraphService
GraphService.Default : AndroidRoboTeam.module.algorithm.GraphService

# SearchService
SearchService.Default : AndroidRoboTeam.module.complex.SEUFB.SEUSearchService

# GuidelineCreator
GuidelineCreator.Default : AndroidRoboTeam.module.complex.SEUPF.GuidelineCreator

# SEUHighways
; SEUHighways.Default : AndroidRoboTeam.module.algorithm.SEUHighways
; SEUHighways.PathPlanning : AndroidRoboTeam.module.algorithm.SEUPathPlanning

# By lyf (nineniu)   
# PathPlanning
PathPlanning.Default : AndroidRoboTeam.module.algorithm.SEUPathPlanning
