## DefaultTacticsAmbulanceTeam
DefaultTacticsAmbulanceTeam.HumanDetector : team08024301.module.complex.SampleHumanDetector
DefaultTacticsAmbulanceTeam.Search : team08024301.module.complex.SampleSearch
DefaultTacticsAmbulanceTeam.ExtActionTransport : adf.impl.extaction.DefaultExtActionTransport
DefaultTacticsAmbulanceTeam.ExtActionMove : adf.impl.extaction.DefaultExtActionMove
DefaultTacticsAmbulanceTeam.CommandExecutorAmbulance : adf.impl.centralized.DefaultCommandExecutorAmbulance
DefaultTacticsAmbulanceTeam.CommandExecutorScout : adf.impl.centralized.DefaultCommandExecutorScout

## DefaultTacticsFireBrigade
DefaultTacticsFireBrigade.HumanDetector : team08024301.module.complex.SampleHumanDetector
DefaultTacticsFireBrigade.Search : team08024301.module.complex.SampleSearch
DefaultTacticsFireBrigade.ExtActionFireRescue : adf.impl.extaction.DefaultExtActionFireRescue
DefaultTacticsFireBrigade.ExtActionMove : adf.impl.extaction.DefaultExtActionMove
DefaultTacticsFireBrigade.CommandExecutorFire : adf.impl.centralized.DefaultCommandExecutorFire
DefaultTacticsFireBrigade.CommandExecutorScout : adf.impl.centralized.DefaultCommandExecutorScout

## DefaultTacticsPoliceForce
DefaultTacticsPoliceForce.RoadDetector : team08024301.module.complex.SampleRoadDetector
DefaultTacticsPoliceForce.Search : team08024301.module.complex.SampleSearch
DefaultTacticsPoliceForce.ExtActionClear : team08024301.extraction.SampleExtActionClear
DefaultTacticsPoliceForce.ExtActionMove : adf.impl.extaction.DefaultExtActionMove
DefaultTacticsPoliceForce.CommandExecutorPolice : adf.impl.centralized.DefaultCommandExecutorPolice
DefaultTacticsPoliceForce.CommandExecutorScout : adf.impl.centralized.DefaultCommandExecutorScoutPolice

## DefaultTacticsAmbulanceCentre
DefaultTacticsAmbulanceCentre.TargetAllocator : team08024301.module.complex.SampleAmbulanceTargetAllocator
DefaultTacticsAmbulanceCentre.CommandPicker : adf.impl.centralized.DefaultCommandPickerAmbulance

## DefaultTacticsFireStation
DefaultTacticsFireStation.TargetAllocator : team08024301.module.complex.SampleFireTargetAllocator
DefaultTacticsFireStation.CommandPicker : adf.impl.centralized.DefaultCommandPickerFire

## DefaultTacticsPoliceOffice
DefaultTacticsPoliceOffice.TargetAllocator : team08024301.module.complex.SamplePoliceTargetAllocator
DefaultTacticsPoliceOffice.CommandPicker : adf.impl.centralized.DefaultCommandPickerPolice

## SampleSearch
SampleSearch.PathPlanning.Ambulance : adf.impl.module.algorithm.DijkstraPathPlanning
SampleSearch.Clustering.Ambulance : adf.impl.module.algorithm.KMeansClustering
SampleSearch.PathPlanning.Fire : adf.impl.module.algorithm.DijkstraPathPlanning
SampleSearch.Clustering.Fire : adf.impl.module.algorithm.KMeansClustering
SampleSearch.PathPlanning.Police : adf.impl.module.algorithm.DijkstraPathPlanning
SampleSearch.Clustering.Police : adf.impl.module.algorithm.KMeansClustering

## SampleBuildDetector
SampleBuildingDetector.Clustering : adf.impl.module.algorithm.KMeansClustering

## SampleRoadDetector
SampleRoadDetector.Clustering : adf.impl.module.algorithm.KMeansClustering
SampleRoadDetector.PathPlanning : adf.impl.module.algorithm.DijkstraPathPlanning

## SampleHumanDetector
SampleHumanDetector.Clustering : adf.impl.module.algorithm.KMeansClustering

## DefaultExtActionClear
DefaultExtActionClear.PathPlanning : adf.impl.module.algorithm.DijkstraPathPlanning

## DefaultExtActionFireFighting
DefaultExtActionFireFighting.PathPlanning : adf.impl.module.algorithm.DijkstraPathPlanning

## DefaultExtActionFireRescue
DefaultExtActionFireRescue.PathPlanning : adf.impl.module.algorithm.DijkstraPathPlanning

## DefaultExtActionMove
DefaultExtActionMove.PathPlanning : adf.impl.module.algorithm.DijkstraPathPlanning

## DefaultExtActionTransport
DefaultExtActionTransport.PathPlanning : adf.impl.module.algorithm.DijkstraPathPlanning

## DefaultCommandExecutorAmbulance
DefaultCommandExecutorAmbulance.PathPlanning : adf.impl.module.algorithm.DijkstraPathPlanning
DefaultCommandExecutorAmbulance.ExtActionTransport : adf.impl.extaction.DefaultExtActionTransport
DefaultCommandExecutorAmbulance.ExtActionMove : adf.impl.extaction.DefaultExtActionMove

## DefaultCommandExecutorFire
DefaultCommandExecutorFire.PathPlanning : adf.impl.module.algorithm.DijkstraPathPlanning
DefaultCommandExecutorFire.EtxActionFireRescue : adf.impl.extaction.DefaultExtActionFireRescue
DefaultCommandExecutorFire.EtxActionFireFighting : adf.impl.extaction.DefaultExtActionFireFighting
DefaultCommandExecutorFire.ExtActionMove : adf.impl.extaction.DefaultExtActionMove

## DefaultCommandExecutorPolice
DefaultCommandExecutorPolice.PathPlanning : adf.impl.module.algorithm.DijkstraPathPlanning
DefaultCommandExecutorPolice.ExtActionClear : team08024301.extraction.SampleExtActionClear
DefaultCommandExecutorPolice.ExtActionMove : adf.impl.extaction.DefaultExtActionMove

## DefaultCommandExecutorScout
DefaultCommandExecutorScout.PathPlanning : adf.impl.module.algorithm.DijkstraPathPlanning

## DefaultCommandExecutorScoutPolice
DefaultCommandExecutorScoutPolice.PathPlanning : adf.impl.module.algorithm.DijkstraPathPlanning
DefaultCommandExecutorScoutPolice.ExtActionClear : team08024301.extraction.SampleExtActionClear

## MessageManager
MessageManager.PlatoonChannelSubscriber : team08024301.module.comm.SampleChannelSubscriber
MessageManager.CenterChannelSubscriber : team08024301.module.comm.SampleChannelSubscriber
MessageManager.PlatoonMessageCoordinator : team08024301.module.comm.SampleMessageCoordinator
MessageManager.CenterMessageCoordinator : adf.impl.module.comm.DefaultMessageCoordinator

## VisualDebug
VisualDebug : true